{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<form action="">
    <div class="form-ctn">
        <label for="">email</label>
        <input type="email">
    </div>
    <div class="form-ctn">
        <label for="">password</label>
        <input type="password">
    </div>
    <div class="form-action">
        <button>Submit</button>
    </div>
</form>
{% endblock %}
