<footer>
  <div class="footer-copyright">
    <p>Copyright &copy; {{"now" | date("Y")}} - Made with love by <a href="" target="_blank">Clément</a></p>
  </div>
  <ul class="footer-social">
    <li><a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i></i></a></li>
    <li><a href="" target="_blank"><i class="fa-brands fa-strava"></i></i></a></li>
    <li><a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
  </ul>
</footer>