.profil{
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  margin: 3rem 0;
  min-width: 400px;
  &-picture{
    margin-right: 3rem;
    img{
      border-radius: 50%;
    }
  }
  &-content{
    .action{
      margin: 2rem 0;
    }
  }
}