:root{
  --font-title: "Roboto Condensed", sans-serif;
  --font-text: "Lato", sans-serif;
  --primary: #3c6382;
  --success: #2ecc71;
  --warning: #f39c12;
  --danger: #e74c3c;
  --gray-light: #ecf0f1;
  --gray: #bdc3c7;
  --gray-dark: #7f8c8d;
  --bg-light: #f5f6fa;
  --white: white;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --radius: 5px;
  --text: #333;
  --text-light: white;
}